<!DOCTYPE html>
<html>
<head>
  <link href="../css/test.css" type="text/css" rel="stylesheet">
</head>
<body>
  <a href="/">Back to Home</a>
  <h1>This is the student input form</h1>
<div class="container">
  <div class="row">
    <div class="span4">
      <h1><em>The Student Input Form</em></h1>
      <hr>
  <form method="post" action="input">
    <p>What is your name? <input type="text" name="name" value="name"></p>
    <p>What is your tagline? <input type="text" name="tagline" value="tagline"></p>
    <p>What is your bio? <input type="text" name="bio" value="bio"></p>
    <p>What are your aspirations? <input type="text" name="aspirations" value="aspirations"></p>
    <p>What are your interests? <input type="text" name="interests" value="interests"></p>
    <p>What are your social links? <input type="text" name="social_links" value="social_links"></p>
    <p>What did you do previously? <input type="text" name="prevwork" value="prevwork"></p>
    <p>What is your educational history? <input type="text" name="education" value="education"></p>
    <p>What are your coder credentials? <input type="text" name="codercred" value="coder cred"></p>
    <p>What are your favorite apps? <input type="text" name="fave_apps" value="favorite apps"></p>
    <p>What are your favorite companies? <input type="text" name="companies" value="companies"></p>
    <p>What are your favorite quotes? <input type="text" name="quotes" value="quotes"></p>
    <input type="submit" value="  Submit Here " class="btn btn-primary">
  </form>
    </div>
  </div>
</div>
</body>
</html>