<html>
<head>
  <link href="./css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
  <a href="/">Back to Home</a>
  <h1>This is the student search form</h1>
  <form method="post" action="by-name">
    <p>Who do you want to search for? <input type="text" name="search_by_name"></p>
    <input type="submit" value="Submit">
  </form>
</body>
</html>